*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

}

/*--------------temporary designs--------*/



*{
    padding: 0.5rem ;
    border: 1px solid rgb(143, 137, 137);
    
  }

body{border: none;}
  
html{border: none;}

/*--------------------image styles---------------*/

.bg-image{
    background-image: url('images/sleep-co/sleep-co-bed.jpg');
    background-size: cover;
    min-height: 10rem;
}

/*-------------------universal styles and utility classes-----------*/

.padded{
    padding: 5%;
}

.padded-sm{
    padding: 1rem;
}

.bg-dark{
    background-color: #192b37;
    color: white;
}

.text-left{   text-align: left;     }
.text-center{ text-align: center;   }
.text-right{  text-align: right;    }

.tall-80{   min-height: 80vh;   }
.tall-90{   min-height: 90vh;   }
.tall-100{  min-height: 100vh;  }

.font-weight-normal{ font-weight: notmal;}
.font-weight-light{ font-weight: light;}
.font-weight-extra-bold{ font-weight: bold;}

